MEETING INDEX!

<%= form_tag search_meetings_path, method: :get do %>
  <p>
    <%= text_field_tag :zipcode, params[:zipcode], id: "search-form", placeholder: "Enter zipcode" %>
  </p>
  <p>
    <%= submit_tag 'Search', name: nil, id: "search-button"%>
  </p>
<% end %>

