<div id=<%= "status-#{status.id}" %> class="status-item">
  <%= link_to status.user.username, user_show_path(status.user.username) %>
  <p><%= status.content %></p>
  <% if current_user == status.user %>
    <%= link_to I18n.t("entries.edit"), "#", class: "edit-status-link" %>
  <% end %>
</div>