<div id="edit-status">
  <%= form_for @status do |f| %>
    <%= f.text_field :content, :placeholder => I18n.translate('statuses.whats_up') %>
    <%= f.submit I18n.t("statuses.update"), id: "update-submit" %>
  <% end %>
</div>