<div id="new-status">
  <%= form_for @status do |f| %>
    <%= f.text_field :content, :placeholder => t('statuses.whats_up') %>
    <%= f.submit t("statuses.post") %>
  <% end %>
</div>

<div id="feed-activity">
  <%= render @statuses %>
</div>