<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  
    <h1>This is your reminder for <%= @meeting_name %>, located at <%= @meeting_location %>.</h1>

    <p>This meeting is scheduled for <%= @meeting_day %> at <%= @meeting_time %>.</p>
       
    <p>If you'd like further reminders for upcoming meetings, don't forget to visit <%= @link %></p>

    <p>Congrats on your continued journey,</p>

    <p>12Stepper Team</p>
 
  </body>
</html>
