<div id="big-book-container">
  <div id="big-book-nav-container">
    <div id="toc-search-field-panel">
      <%= search_field "Search the Big Book", :toc_search, value: "Search the Big Book" %>
    </div>
    <div id="toc-main-panel">
      <%= t('bigbook.toc') %>
      <br />
      <% @chapter_titles.each_with_index do |c, i| %>
        <%= link_to "#{i+1}. #{c.title}", "#", class:"chapter-link" %>
        <br />
      <% end %>
    </div>
    <div id="toc-search-results-panel">
    </div>
  </div>

  <div id="chapter-view-panel">
    <%= render partial: 'chapter', chapter: @chapter %>
  </div>
</div>