<div id=<%= "friend-#{inverse_friendship.user.username}"%>>
  <%= inverse_friendship.user.username %>
  <%= link_to t("friendships.view_profile"), user_show_path(inverse_friendship.user.username) %>
  <%= button_to t("friendships.remove"), remove_friendship_path(inverse_friendship.id), method: :delete, aclass: 'btn-link' %>
</div>
