<div id=<%= "friend-#{inverse_friendship.user.username}"%>>
  <%= inverse_friendship.user.username %>
  <%= button_to I18n.t("friendships.remove"), remove_friendship_path(inverse_friendship.id), method: :delete, aclass: 'btn-link' %>
</div>
