<div id=<%= "pending-#{inverse_friendship.user.username}"%>>
  <%= inverse_friendship.user.username %>
  <%= button_to I18n.t("friendships.accept"), accept_friendship_path(inverse_friendship.id), class: 'btn-link' %>
  <%= button_to I18n.t("friendships.reject"), reject_friendship_path(inverse_friendship.id), method: :delete, aclass: 'btn-link' %>
</div>