<h3>My Friends</h3>
<%= render @friendships %>
<%= render @inverse_friendships %>

<div id="pending-friendships">
  <h3>Friend Requests</h3>
  <%= render partial: 'inverse_friendship', collection: @pending, as: :inverse_friendship %>
</div>