<h3>My Friends</h3>
<%= render partial: 'friendship', collection: @friendships %>
<%= render partial: 'inverse_friendship', collection: @inverse_friendships %>

<div id="pending-friendships">
  <h3>Friend Requests</h3>
  <%= render partial: 'pending_inverse_friendship', collection: @pending, as: :inverse_friendship %>
</div>