Prière de sérénité (version intégrale)

Dieu, donne-moi la grâce d'accepter avec sérénité
Les choses qui ne peuvent pas être changées,
Le courage pour changer les choses
Qui devraient être changées
Et la Sagesse pour distinguer entre elles.

De vivre au jour le jour,
De me réjouir du moment présent,
D'accepter la difficulté comme un sentier menant à la paix,
De prendre, comme Jésus a fait,
Ce monde pécheur tel qu’il est,
Pas comme je voudrais qu'il soit.,
De croire que tu feras bien toute chose,
Si je m’abandonne à ta volonté,
Afin que je sois assez heureux dans cette vie,
Et suprêmement heureux avec toi pour toujours dans la vie à venir.

Amen.

--Reinhold Niebuhr