LOS DOCE PASOS DE ALCOHÓLICOS ANÓNIMOS 
 
1. Admitimos que éramos impotentes ante el alcohol, que nuestras vidas se 
habían vuelto ingobernables. 

2. Llegamos a creer que un Poder superior a nosotros mismos podría 
devolvernos el sano juicio. 

3. Decidimos poner nuestras voluntades y nuestras vidas al cuidado de Dios, 
como nosotros lo concebimos. 

4. Sin miedo hicimos un minucioso inventario moral de nosotros mismos. 

5. Admitimos ante Dios, ante nosotros mismos, y ante otro ser humano, la 
naturaleza exacta de nuestros defectos. 

6. Estuvimos enteramente dispuestos a dejar que Dios nos liberase de 
nuestros defectos. 

7. Humildemente le pedimos que nos liberase de nuestros defectos. 

8. Hicimos una lista de todas aquellas personas a quienes habíamos ofendido 
y estuvimos dispuestos a reparar el daño que les causamos. 

9. Reparamos directamente a cuantos nos fue posible el daño causado, 
excepto cuando el hacerlo implicaba perjuicio para ellos o para otros. 

10. Continuamos haciendo nuestro inventario personal y cuando nos 
equivocábamos lo admitíamos inmediatamente. 

11. Buscamos a través de la oración y la meditación mejorar nuestro contacto 
consciente con Dios, como nosotros lo concebimos, pidiéndole solamente 
que nos dejase conocer su voluntad para con nosotros y nos diese la 
fortaleza para cumplirla. 

12. Habiendo obtenido un despertar espiritual como resultado de estos pasos, 
tratamos de llevar el mensaje a los alcohólicos y de practicar estos 
principios en todos nuestros asuntos. 
