LES DOUZE TRADITIONS DES ALCOOLIQUES ANONYMES 
(VERSION ABRÉGÉE) 

1. Notre bien-être commun devrait venir en premier lieu ; le rétablissement 
personnel dépend de l’unité des AA. 

2. Dans la poursuite de notre objectif commun, il n’existe qu’une seule autorité 
ultime – un Dieu d’amour tel qu’il peut se manifester dans notre conscience 
de groupe. Nos chefs ne sont que des serviteurs de confiance, ils ne 
gouvernent pas. 

3. Le désir d’arrêter de boire est la seule condition pour être membre des AA. 

4. Chaque groupe devrait être autonome, sauf sur les points qui touchent 
d’autres groupes ou l’ensemble du Mouvement. 

5. Chaque groupe n’a qu’un objectif primordial, transmettre son message à 
l’alcoolique qui souffre encore. 

6. Un groupe ne devrait jamais endosser ou financer d’autres organismes, qu’ils 
soient apparentés ou étrangers aux AA, ni leur prêter le nom des Alcooliques 
anonymes, de peur que les soucis d’argent, de propriété ou de prestige ne 
nous distraient de notre objectif premier. 

7. Tous les groupes devraient subvenir entièrement à leurs besoins et refuser 
les contributions de l’extérieur. 

8. Le mouvement des Alcooliques anonymes devrait toujours demeurer non 
professionnel, mais nos centres de service peuvent engager des employés 
qualifiés. 

9. Comme mouvement, les Alcooliques anonymes ne devraient jamais avoir de 
structure formelle, mais nous pouvons constituer des conseils ou des comités 
de service directement responsables envers ceux qu’ils servent. 

10. Le mouvement des Alcooliques anonymes n’exprime aucune opinion sur des 
sujets étrangers ; le nom des AA ne devrait donc jamais être mêlé à des 
controverses publiques. 

11. La politique de nos relations publiques est basée sur l’attrait plutôt que sur la 
réclame ; nous devons toujours garder l’anonymat personnel dans la presse 
écrite et parlée de même qu’au cinéma. 

12. L’anonymat est la base spirituelle de toutes nos traditions et nous rappelle 
sans cesse de placer les principes au-dessus des personnalités. 
