LAS DOCE TRADICIONES DE ALCOHÓLICOS ANÓNIMOS 
(FORMA CORTA) 
 
1. Nuestro bienestar común debe tener la preferencia; la recuperación personal 
depende de la unidad de A.A. 

2. Para el propósito de nuestro grupo sólo existe una autoridad fundamental: un 
Dios amoroso tal como se exprese en la conciencia de nuestro grupo. Nuestros 
líderes no son más que servidores de confianza. No gobiernan. 

3. El único requisito para ser miembro de A.A. es querer dejar de beber. 

4. Cada grupo debe ser autónomo, excepto en asuntos que afecten a otros 
grupos o a Alcohólicos Anónimos, considerado como un todo. 

5. Cada grupo tiene un solo objetivo primordial: llevar el mensaje al alcohólico que 
aún está sufriendo. 

6. Un grupo de A.A. nunca debe respaldar, financiar o prestar el nombre de A.A. a 
ninguna entidad allegada o empresa ajena, para evitar que los problemas de 
dinero, propiedad y prestigio nos desvíen de nuestro objetivo primordial. 

7. Todo grupo de A.A. debe mantenerse completamente a sí mismo, negándose a 
recibir contribuciones ajenas. 

8. A.A. nunca tendrá carácter profesional, pero nuestros centros de servicio 
pueden emplear trabajadores especiales. 

9. A.A. como tal nunca debe ser organizada; pero podemos crear juntas o comités 
de servicio que sean directamente responsables ante aquellos a quienes sirven. 

10. A.A. no tiene opinión acerca de asuntos ajenos a sus actividades; por 
consiguiente, su nombre nunca debe mezclarse en polémicas públicas. 

11. Nuestra política de relaciones públicas se basa más bien en la atracción que en 
la promoción; necesitamos mantener siempre nuestro anonimato personal ante 
la prensa, la radio y el cine. 

12. El anonimato es la base espiritual de todas nuestras Tradiciones, 
recordándonos siempre anteponer los principios a las personalidades.
