<div id="not-found-container">
  <h1>404 - <%= t('not_found.something') %>!</h1>
  <br />

  <h3><%= t('not_found.thanks') %></h3>
  <h3><%= t('not_found.find_home') %>:</h3>
</div>


<h1 id="link-home"><%= link_to t('not_found.home'), root_path %></h1>