#toc-search-field-panel {
  display: inline;
}

#toc-search-results-panel, #toc-search-tabs {
  display: none;
}

#toc-search-results-panel {
  margin-top: 10px;
}

.search-result-item {
  list-style: none;
  display: block;
  text-align: left;
  margin-left: -40px;
  padding-left: 0;
}

.search-result, .highlighted {
  background: yellow;
}

#big-book-container {
  margin-top: 30px;
}

.chapter-link {
  color: #3F3A3C;
}

#results-tab.active,
#toc-tab.active {
  color: #3F3A3C;
}

#toc-search-tabs {
  margin-bottom: 20px; 
}

p.entry-date {
  margin-left: 0px;
}

.entry-token {
  display: inline;
}

.entry-token {
  vertical-align: baseline;
  margin-bottom: -4px;
}

.token-label {
  display: inline;
}
