#entry-index-item-body h3 {
  margin-top: 0px;
}

#entry-index-actions {
  margin-bottom: 20px;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}

#entry-item-actions li {
  line-height: 1.5em;
  font-size: 1.2em;
}

#entry-index-item-row {
  padding-top: 20px;
  border-bottom: 1px solid #B5ABAF;
}

.entry-item-title {
  margin-top: 0;
  display: inline;
}

.entry-item-title a {
  color: #3F3A3C;
  font-size: 1.15em;
}

.page-header {
  border: none;
  margin-top: 20px;
}

#cke_14, #cke_21, #cke_34, #cke_29 {
  display: none;
}

.entry-edit-container {
  margin-top: 40px;
}

#journal-actions {
  text-align: right;
}

#entries-index-container {
  width: 70%;
}

#entry-index-actions {
  display: inline;
}

#entry-index-actions li {
  display: inline;
}

.entry-index-list {
  display: inline;
}

.entry-index-list li p {
  display: inline;
}

.new-entry-action a {
  margin-right: 45px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
<<<<<<< HEAD
=======

.entry-token {
  vertical-align: baseline;
}

.entry-token img{
  display: inline;
}

.entry-date,
.entry-step {
  margin-top: 5px;
  margin-left: 5px;
}

#work-a-step {
  margin-right: 35px;
}

#entries-search {
  margin-top: 24px;
  margin-left: -13px;
}
>>>>>>> d48dde51cc1abaf1763bcd0e9a734201b8a54d17
