// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#journal-actions {
  text-align: right;
}

#entries-index-container {
  width: 70%;
}

#entry-index-actions {
  display: inline;
}

#entry-index-actions li {
  display: inline;
}

.entry-index-list {
  display: inline;
}

.entry-index-list li p {
  display: inline;
}

#step-info {
}