#main-map {
  width:567px;
  height:400px;
  border: 1px solid #C9D1D3;
  position: fixed;
}

.hide-map-container {
  display: none;
}

.map-container {
  float: right;
}

.map-container a {
  position: fixed;
}

.individual-search-result {
  margin-left: 0;
  padding: 0;
  border-bottom: 2px solid #CDC1C7;

}

#found-meeting-title {
  border-bottom: 2px solid #CDC1C7;
}

#meetings-title {
  margin-top: 40px;
}