.navbar {
  height: 55px;
  background-color: #3F3A3C;
}

.navbar li a {
  color: white;
  font-size: 14pt;
}

.navbar li a:hover {
  background-color: #CCC3C7;
}

.navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #3F3A3C;
}

.dropdown-menu {
  background-color: #B5ABAF;
}

.account-dropdown {
  /*margin-right: -88px;*/
}

#resources-link,
#meetings-link,
#account-link,
#congrats-link {
  color: white;
}

#resources-link {
  border-left: 1px solid #CCC3C7;
  border-bottom: 5px solid #BCD530;
  min-height: 55px;
}

#meetings-link {
  border-left: 1px solid #CCC3C7;
  border-right: 1px solid #CCC3C7;
  border-bottom: 5px solid #E0422D;
  min-height: 55px;
}

#congrats-link-container {
  border-left: 1px solid #CCC3C7;
  display: inline;
  cursor: default;
  min-height: 55px;
  min-width: 100px;
}

#congrats-link {
  display: block;
  margin: 5px;
  padding: 0;
  line-height: 1em;
}

#account-link {
  border-left: 1px solid #CCC3C7;
  border-bottom: 5px solid #3D98AA;
  min-height: 55px;
  border-right: 1px solid #CCC3C7;
}

.navbar-token {
  padding: 0 10px 0 5px;
  margin-top: 15px;
}

#logo-link img {
  margin-top: 8px;
  margin-right: 40px;
}

