.navbar {
  height: 55px;
  background-color: #3F3A3C;
}

.navbar li a {
  color: white;
  font-size: 14pt;
}

.navbar li a:hover {
  background-color: #CCC3C7;
}

.navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #3F3A3C;
}

.dropdown-menu {
  background-color: #B5ABAF;
}

.account-dropdown {
  margin-right: -88px;
}

#resources-link,
#meetings-link,
#account-link,
#congrats-link {
  color: white;
}

#resources-link {
  border-left: 1px solid #CCC3C7;
  border-bottom: 5px solid #BCD530;
}

#meetings-link {
  border-left: 1px solid #CCC3C7;
  border-right: 1px solid #CCC3C7;
  border-bottom: 5px solid #E0422D;
}

#congrats-link {
  border-left: 1px solid #CCC3C7;
  display: inline-block;
}

#account-link {
  border-left: 1px solid #CCC3C7;
  border-bottom: 5px solid #3D98AA;
  margin-right: -135px;
}

.navbar-token {
  display: inline-block;
  padding-right: 15px;
  padding-bottom: 7px;
}

#logo-link img {
  margin-top: 8px;
  margin-right: 40px;
}

