li {
  list-style: none;
}

body {
  background-color: #EFF4F4;
  font-family: 'Helvetica Neue Medium';
  font-size: 14pt;
  color: #3F3A3C;
}

a {
  color: #B5ABAF;
}

a:hover {
  color: #3F3A3C;
  text-decoration: none;
}

.page-header {
  margin: 40px 0 0 0 ;
  border-bottom: 1px solid #B5ABAF;
}

.footer-outer {
  margin: 0;
}

hr {
  color: #3F3A3C;;
}

.alert {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -moz-border-radius: 4px;
}

.notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -moz-border-radius: 4px;
}
