// Place all the styles related to the WorksheetEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cke_worksheet-step {
  width: 600px;
}

#worksheet-entry-text {
  display: inline-block;
  float: left;
  padding-right: 20px;
}

.worksheet {
  width: 515px;
  display: inline-block;
  height: 600px;
  overflow:scroll;
}

#worksheet-entry-submit {
  border: none;
  background-color: #EFF4F4;
  color: #B5ABAF;
}

#worksheet-entry-submit:hover, #worksheet-entry-submit:focus {
  color: black;
  text-decoration: none;
}
