// Place all the styles related to the WorksheetEntries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worksheet-entry-text {
  display: inline-block;
  float: left;
}

.worksheet {
  display: inline-block;
  max-height: 590px;
  overflow: scroll;
}

#worksheet-entry-submit {
  border: none;
  background-color: #EFF4F4;
  color: #B5ABAF;
}

#worksheet-entry-delete {
  border: none;
  display: inline-block;
  background-color: #EFF4F4;
  color: #B5ABAF;
}

#worksheet-entry-submit:hover, #worksheet-entry-submit:focus {
  color: black;
  text-decoration: none;
}

.cke_bottom {
  margin-top: 220px;
  color: red;
}

#worksheet-entry-title {
  margin-top: 10px;
}

.new-worksheet-details {
  margin-top: 15px;
}

#choose-a-step, #choose-a-section {
  display: inline;
  margin-left: 7px;
}

#choose-the-step, #choose-the-section {
  display: inline;
  margin-left: 15px;
}

#choose-the-step h3 {
  display: inline;
}

#choose-the-section h3 {
  display: inline;
}



