<div id="flash-section">
    <div class="container">
      <div class="row">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "alert alert-#{name}" %>
      <% end %>
    </div>
  </div>
</div>
