<div id='navbar'>
  <% if current_user %>
    <%= link_to t("navbar.logout"), sessions_path, method: :delete %>
  <% else %>
    <%= link_to t("navbar.signup"), new_user_path %>

    <%= link_to t("navbar.login"), new_session_path %>
  <% end %>
</div>
